{%extends '_base.html'%} 

{%block title%} Phrases {%endblock%}
{%block main%} 
<a class="btn btn-success btn-sm float-right" href="{%url 'phrases:create'%}">+ New Phrase</a>
<h2>Phrases</h2>
<ul class="list-group list-group-flush mb-3">
    {%for phrase in phrase_list%}
    <li class="list-group-item"><a href="{{ phrase.get_absolute_url }}">{{phrase.sentence}}</a>
    <a class="btn btn-info btn-sm float-right mr-2" href="{% url 'phrases:update' phrase.slug %}">Update</a>
    <a href="{% url 'phrases:delete' phrase.slug %}" class="btn btn-danger btn-sm float-right mr-2">Delete</a>
    </li>
    {%endfor%}
</ul>
{%endblock%}